body {
  font-size: 3em;
  background: black;
}

.white_blk_bor {
  margin: 5px;
  text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
  color: white;
}

#find {
  overflow: hidden;
  height: 800px;
}

#matches {
  margin-top: 30px;
}

.match_btn {
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 40%;
  position: absolute;
  top: 30%;
  height: 200px;
  width: 80px;
}

.like {
  right: -40px;
  background-color: green;
}

.skip {
  left: -40px;
  background-color: red;
}

.container {
  height: 800px;
  object-fit: cover;
  overflow: hidden;
}

.gallery {
  position: absolute;
  margin-left: 10px;
  height: 20%;
  top: 75%;

}

.gallery_image {
  margin-right: 5px;
  margin-left: 5px;
  height: 100%;
  width: auto;
  float: left;
}

.dogname {
  margin-left: 25px;
  position: absolute;
  top: 5%;
}

.distance {
  margin-right: 25px;
  position: absolute;
  top: 5%;
  right: 0%;
}

.profile {
  margin-left: 30px;
  margin-right: 30px;
  position: absolute;
  font-size: .5em;
  top: 60%;
}

.watermark {
  top: 0px;
  font-size: .5em;
  margin: 0;
  position: fixed;
  font-style: italic;
}

#host {
  background-color: lightgrey;
  font-size: 1ch;
}

#host input, #host textarea, #host button {
  border-radius: 5px;
  margin: 1px;
}

#host textarea {
  height: 100px;;
}

html.ng-scope {
  padding: 0;
  margin: 0;
}

.full_splash {
  margin: 0;
  width: 100%;
}